@import "popup.css";

body {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}

body table {
    max-width: 1100px;
    width: 100%;
    font-family: sans-serif;
}

.header {
    padding: 24px;
}

.logo {
    float: left;
    cursor: pointer;
}

.auth {
    float: right;
}

.logo_big {
    font-weight: bold;
}

.auth span {
    cursor: pointer;
    padding: 0px 12px 0px 12px;
}

.auth span a:hover {
    color: brown;
}

.navbar {
    float: top;
    width: 232px;
    border: 1px solid brown;
    padding: 12px;
    margin: 0;
}

.navbar li {
    list-style-type: none;
    padding: 12px 0px 0px 12px;
    float: top;
    cursor: pointer;
}

.navbar li a:hover {
    color: brown;
}

.content {
    width: 100%;
}

.content iframe {
    width: 100%; height: 800px; border: 0;
}

.footer {
    position: absolute;
    width: 1100px;
    bottom: 0;
    background-color: dimgrey;
    color: white;
}
