<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bank</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
<div class="popup" id="popup-1">
    <div class="overlay"></div>
    <div class="content">
        <div class="close-btn">×</div>
        <h1>Вхід</h1>
        <p>Введіть свої персональні данні для того щоб ввійти</p>
        <h5>Логін</h5>
        <input>
        <h5>Пароль</h5>
        <input>
        <div style="padding-top: 12px"><button id="login-btn">Вхід</button></div>
    </div>
</div>
<div class="popup" id="popup-2">
    <div class="overlay"></div>
    <div class="content">
        <div class="close-btn">×</div>
        <h1>Реєстрація</h1>
        <p>Введіть свої персональні данні для того щоб зареєструватися</p>
        <h5>Логін</h5>
        <input>
        <h5>Пароль</h5>
        <input>
        <div style="padding-top: 12px"><button id="registration-btn">Зареєструватися</button></div>
    </div>
</div>
<table>
    <tr>
        <td colspan="2" class="header">
                <span class="logo">
                    <span class="logo_big">NothingServe</span>
                    <span class="logo_medium">| Bank</span>
                </span>
            <span class="auth">
                    <span id="login_button"><a href="#">ВХІД</a></span>
                    <span id="register_button"><a href="#">РЕГІСТРАЦІЯ</a></span>
                </span>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top;">
            <ul class="navbar">
                <li><a href="../index.html">ГОЛОВНА</a></li>
                <li><a href="FOP.html">ФОП</a></li>
                <li><a href="deposit.html">ДЕПОЗИТИ</a></li>
                <li><a href="parts.html">ПОКУПКА ЧАСТИНАМИ</a></li>
                <li><a href="transaction.html">МІЖНАРОДНІ ПЕРЕКАЗИ</a></li>
            </ul>
        </td>
        <td class="content">
            <p>Платі́жна ка́ртка (іноді банківська платіжна картка — БПК) — виготовлена згідно зі стандартом ISO/IEC 7810 ID-1 формату із спеціального стійкого до механічних пошкоджень пластику пластина стандартних розмірів 54x86x0,76 мм, яка використовується для ідентифікації її користувача (держателя), для способу фіксації інформації і як аналог платіжних засобів. Ідентифікування забезпечується нанесенням на картку її номера (відповідно ISO/IEC 7812 стандартизованої нумерації), строку дії, прізвища, ім'я і зразка підпису власника картки та/або інших ідентифікаційних даних (магнітна смуга, чип, RFID-мітка тощо).

                Цей платіжний засіб має назву «пластикові гроші», є особливим видом банківських розрахункових документів і призначений для оплати покупок товарів чи послуг, оплати інших зобов'язань та отримання готівки з банківських рахунків. Як правило, платіжна картка пов'язана з рахунком, що належить держателю картки. Власником такої картки зазвичай є банк-емітент, що випустив картку, про що домовлено у відповідному пункті договору про відкриття картки. Розміри комісій, що утримуються банком за обслуговування банківського рахунку з держателя картки, обумовлюються в договорі на обслуговування банківського рахунку. При відкритті банківської платіжної картки держатель отримує номер банківської картки і номер банківського рахунку.</p>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Credit-cards.jpg/1280px-Credit-cards.jpg" width="254">
        </td>
    </tr>
    <tr>
        <td colspan="2" class="footer">
            <small>NothingServe @ 2020</small>
        </td>
    </tr>
</table>

<script src="../index.js"></script>

</body>
</html>
