<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bank</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
<p>Платі́жна ка́ртка (іноді банківська платіжна картка — БПК) — виготовлена згідно зі стандартом ISO/IEC 7810 ID-1
    формату із спеціального стійкого до механічних пошкоджень пластику пластина стандартних розмірів 54x86x0,76 мм, яка
    використовується для ідентифікації її користувача (держателя), для способу фіксації інформації і як аналог платіжних
    засобів. Ідентифікування забезпечується нанесенням на картку її номера (відповідно ISO/IEC 7812 стандартизованої
    нумерації), строку дії, прізвища, ім'я і зразка підпису власника картки та/або інших ідентифікаційних даних
    (магнітна смуга, чип, RFID-мітка тощо).

    Цей платіжний засіб має назву «пластикові гроші», є особливим видом банківських розрахункових документів і
    призначений для оплати покупок товарів чи послуг, оплати інших зобов'язань та отримання готівки з банківських
    рахунків. Як правило, платіжна картка пов'язана з рахунком, що належить держателю картки. Власником такої картки
    зазвичай є банк-емітент, що випустив картку, про що домовлено у відповідному пункті договору про відкриття картки.
    Розміри комісій, що утримуються банком за обслуговування банківського рахунку з держателя картки, обумовлюються в
    договорі на обслуговування банківського рахунку. При відкритті банківської платіжної картки держатель отримує номер
    банківської картки і номер банківського рахунку.</p>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Credit-cards.jpg/1280px-Credit-cards.jpg"
     width="254">
</body>
</html>
