<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bank</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
<div class="popup" id="popup-1">
    <div class="overlay"></div>
    <div class="content">
        <div class="close-btn">×</div>
        <h1>Вхід</h1>
        <p>Введіть свої персональні данні для того щоб ввійти</p>
        <h5>Логін</h5>
        <input>
        <h5>Пароль</h5>
        <input>
        <div style="padding-top: 12px"><button id="login-btn">Вхід</button></div>
    </div>
</div>
<div class="popup" id="popup-2">
    <div class="overlay"></div>
    <div class="content">
        <div class="close-btn">×</div>
        <h1>Реєстрація</h1>
        <p>Введіть свої персональні данні для того щоб зареєструватися</p>
        <h5>Логін</h5>
        <input>
        <h5>Пароль</h5>
        <input>
        <div style="padding-top: 12px"><button id="registration-btn">Зареєструватися</button></div>
    </div>
</div>
<table>
    <tr>
        <td colspan="2" class="header">
                <span class="logo">
                    <span class="logo_big">NothingServe</span>
                    <span class="logo_medium">| Bank</span>
                </span>
            <span class="auth">
                    <span id="login_button"><a href="#">ВХІД</a></span>
                    <span id="register_button"><a href="#">РЕГІСТРАЦІЯ</a></span>
                </span>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top;">
            <ul class="navbar">
                <li><a href="cards.html">КАРТКИ</a></li>
                <li><a href="FOP.html">ФОП</a></li>
                <li><a href="deposit.html">ДЕПОЗИТИ</a></li>
                <li><a href="../index.html">ГОЛОВНА</a></li>
                <li><a href="transaction.html">МІЖНАРОДНІ ПЕРЕКАЗИ</a></li>
            </ul>
        </td>
        <td class="content">
           <p>Купі́вля на ви́плат — купівля товарів у кредит, що передбачає оплату як їхньої вартості, так і процентів за кредит частинами (ратами).</p>
            <img src="https://financer.com/app/uploads/sites/24/2019/02/rozstrochka2.png" width="256">
        </td>
    </tr>
    <tr>
        <td colspan="2" class="footer">
            <small>NothingServe @ 2020</small>
        </td>
    </tr>
</table>

<script src="../index.js"></script>

</body>
</html>
